<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="{{ assets }}css/style.css">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no">

	<title>{{ title }} - {{ page.title }}</title>
</head>
<body>
	<section class="header">
		<div class="container">
			<div class="header__logo">
				<img src="https://i.imgur.com/NiIVrxp.png" alt="Minha logo">
			</div>
			<nav class="header__menu">
				<ul>
					<li class="header__menu--item"><a href="/"><i class="fa fa-fw fa-home"></i> Início</a></li>
					<li class="header__menu--item"><a href="/loja"><i class="fa fa-fw fa-shopping-basket"></i> Loja</a></li>
					<li class="header__menu--item"><a href="/loja"><i class="fa fa-fw fa-newspaper-o"></i> Notícias</a></li>
				</ul>
			</nav>
		</div>
	</section>
	{% block content %}
	{% endblock %}
	<section class="footer">
		<div class="container">

		</div>
	</section>
</body>
</html>