{% extends 'layouts/default.twig' %}

{% block content %}
	<div class="row">
		<div class="container">
			<div class="comprar">
				<h1>Comprar pontos</h1>
				<form action="/checkout/" method="POST">
					<label>
						<small>Seu nome dentro do jogo</small>
						<input type="text" name="ign" placeholder="Exemplo: Steve2017" required>
					</label>
					<label>
						<small>Quantidade de pontos</small>
						<input type="number" odd="1" name="total" value="{{ cash.min * cash.val }}" min="{{ cash.min }}" max="{{ cash.max }}">
					</label>
					<label class="total row">
						<small>
							Total à pagar:
						</small>
						<p>
							R$ <span>5.00</span>
						</p>
					</label>
					<div class="gateways">
						<p>
							<small>
								Pagar com:
							</small>
						</p>
						<input type="submit" name="gateway" value="PagSeguro" class="btn btn__gateway">
						<input type="submit" name="gateway" value="PayPal" class="btn btn__gateway">
						<input type="submit" name="gateway" value="MercadoPago" class="btn btn__gateway">
						<input type="submit" name="gateway" value="MoIP" class="btn btn__gateway">
					</div>
				</form>
				<!-- <img src="https://i.imgur.com/oPMCR5s.png" alt="Meios de pagamentos"> -->
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var precoProduto = {{ cash.val }};
			function attQntidade() {
				var qntidade = $(".comprar input[name=total]").val();
				$(".comprar input[name=total]").html(qntidade);
				$(".total span").html((precoProduto * qntidade).toFixed(2));
			}
			setInterval(attQntidade, 50);
		});
	</script>
{% endblock %}
