{% extends 'layouts/default.twig' %}

{% block content %}
	<div class="welcome">
		<h1>Bem vindo</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, temporibus illo. Animi nam aliquam doloribus.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ullam laborum sint esse quibusdam quia veritatis dolores suscipit magni eius! Ex numquam laudantium nulla id cum veritatis ad eius aliquam laborum. Facilis eos suscipit voluptatibus aperiam deserunt necessitatibus dicta nobis officiis neque nam. Unde, eaque.</p>
	</div>
{% endblock %}