{% extends 'layouts/default.twig' %}

{% block content %}
	<div class="loja">
		<h1 class="loja__headline">Loja</h1>
		<div class="loja__categories">
			{% for category in categories %}
				<div class="col-6">
					<div class="category">
						<h2>{{ category.NAME }}</h2>
						<p>{{ category.DESCRIPTION }}</p>
						<a href="/loja/categoria/{{ category.ID }}">
							Ver produtos
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}