* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  height: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column; }

html {
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none; }

p {
  font-weight: normal; }

b,
strong {
  display: inline;
  font-weight: bold !important; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: inline-block; }

.row:before,
.row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  .container:before {
    content: "";
    display: table; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.header {
  background: url("https://i.imgur.com/8IYtq2W.jpg"); }
  .header__logo {
    content: "";
    display: table;
    clear: both; }
    .header__logo img {
      padding: 40px 0;
      max-width: 500px;
      max-height: 250px;
      float: left; }
  .header__menu {
    background: #F4F5F7;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px; }
    .header__menu--item {
      list-style-type: none;
      display: inline-block;
      border-radius: 5px; }
      .header__menu--item a {
        display: block;
        color: #42526E;
        padding: 16px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px; }
        .header__menu--item a:hover {
          background: rgba(9, 30, 66, 0.04); }

.content {
  margin: 20px 0;
  margin-right: auto;
  margin-left: auto; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content:before {
    content: "";
    display: table; }
  @media (min-width: 768px) {
    .content {
      width: 750px; } }
  @media (min-width: 992px) {
    .content {
      width: 970px; } }
  @media (min-width: 1200px) {
    .content {
      width: 1170px; } }

[class*="col-"] {
  float: left;
  margin-bottom: 20px; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

.loja__headline {
  background: #0747A6;
  color: #FFF;
  border: 1px solid #0747A6;
  border-radius: 5px;
  padding: 4vh;
  margin: 0 0 20px 0; }
.loja__sidebar {
  border-radius: 5px;
  border: 1px solid #0747A6;
  color: #FFF;
  margin: 0 20px 20px 0; }
  .loja__sidebar--title {
    border-radius: 5px 5px 0 0;
    background: #0747A6;
    padding: 16px; }
  .loja__sidebar--products a {
    display: block;
    padding: 16px;
    color: #0747A6; }
    .loja__sidebar--products a:hover span {
      border-bottom: 1px solid #0747A6; }
.loja__products .col-6 .product {
  margin: 0 20px 0 0;
  border: 1px solid #0747A6;
  border-radius: 5px;
  padding: 20px; }
.loja__products .col-6:nth-child(2n) .product {
  margin: 0 0 0 0; }

/*# sourceMappingURL=style.css.map */
